<div id="content-container">

  <section class="row">
    <div class="left-column" id="skills">
      <img alt="profile image" class="profile-image" src="/images/ryan-lons-photo.jpg" />

      <br>
      <ul id="competencies">
        <li>
          <div class="left-column-header-title">Competencies</div>
          <div class="left-column-header-divider"></div>
        </li>

        <li>Mobile application development</li>
        <li>Technical project management</li>
        <li>Remote team collaboration</li>
        <li>Software architecture</li>
        <li>Developer experience</li>
        <li>UI/UX design</li>
        <li>Analytics analysis</li>
        <li>Native iOS & web development</li>
        <li>Application security</li>
      </ul>
      <ul id="tech-skills">
        <li>
          <div class="left-column-header-title">Technical Skills</div>
          <div class="left-column-header-divider"></div>
        </li>
        <li>Swift, SwiftUI, Objective-C</li>
        <li>Ruby, Rails</li>
        <li>Javascript, jQuery</li>
        <li>HTML, CSS</li>
        <li>SQL, MySql, Sqlite</li>
        <li>C#, C++, Java</li>
        <li>Python, AWS</li>
        <li>Photoshop, Finalcut Pro X</li>
        <li>JIRA, Confluence, Git</li>
        <li>Unit testing, UI testing</li>
        <li>
            Machine Learning / Data Science
            <br>
            <span class="skill-note">(entry level)</span>
        </li>
      </ul>

      <ul id="education">
        <li>
          <div class="left-column-header-title">Education</div>
          <div class="left-column-header-divider"></div>
        </li>
        <li>High School Valedictorian</li>
        <li>BS Computer Science</li>
        <li>Minor in Mathematics</li>
        <li>Wake Forest University, May 2007</li>
        <li>Dean's List & CS Honor Society</li>
      </ul>

      <ul id="languages">
        <li>
          <div class="left-column-header-title">Spoken Languages</div>
          <div class="left-column-header-divider"></div>
        </li>
        <li><div class="skill">English</div><div class="years">Native speaker</div></li>
        <li><div class="skill">Spanish</div><div class="years">Conversational</div></li>
        <li><div class="skill">Japanese</div><div class="years">Rusty, was better</div></li>
        <li><div class="skill">French</div><div class="years">Street survivable</div></li>
        <li><div class="skill">Italian</div><div class="years">Street survivable</div></li>
      </ul>

      <ul id="personal-interests">
        <li>
          <div class="left-column-header-title">Personal Interests</div>
          <div class="left-column-header-divider"></div>
        </li>
        <li>Travel</li>
        <li>Recreational sailboat captain</li>
        <li>Fixing said sailboat</li>
        <li>Father of 3</li>
        <li>Health & Nutrition</li>
        <li>Hiking & Freediving</li>
        <li>Photography & Videography</li>
        <li>Optimistic DIYer</li>
        <li>Martial Arts, Acrobatics, Parkour</li>
      </ul>
<!--      <ul id="">-->
<!--        <li>-->
<!--          <div class="left-column-header-title">test test</div>-->
<!--          <div class="left-column-header-divider"></div>-->
<!--        </li>-->
<!--      </ul>-->
    </div>
    <div class="main-body-column" >
      <h1 class="name">Ryan Lons</h1>
      <h2 class="description">16yrs industry experience in iOS and web development</h2>
      <div class="contact-info">
        <div class="contact-item">
          <span><img src="/images/email-icon.svg"></span>
          <a href="mailto:lonsrb@gmail.com">lonsrb@gmail.com</a>
        </div>
        <div class="contact-item">
          <span><img src="/images/link-icon.svg"></span>
          <a href="https://www.linkedin.com/in/ryan-lons-701781a/">LinkedIn</a>
        </div>
        <div class="contact-item">
          <span><img src="/images/location-icon.svg"></span>
          <span>Honolulu / Remote</span>
          <br>
          <span id="hours">PT or MT hours (UTC -7/-8) preferred</span>
        </div>

        <div class="contact-item" id="download">
          <span><img src="/images/download-icon.svg"></span>
          <span><a href="/images/Ryan-Lons-Resume.pdf">Download Resume</a></span>

        </div>
      </div>

      <div class="previous-roles">
        <h2 id="experience-title">Experience</h2><span id="recent-label">(only "recent" listed)</span>
          <ul class="previous-roles-list">
            <li>
              <span class="role-title">iOS Architect at Schwab</span>
              <span class="timeframe">February 2023 - Present</span>

              <div class="company-description">Charles Schwab offers investment products and services, including brokerage and retirement accounts, online trading</div>
              <ul>
                <li>
                  Re-established analytics data mining to better understand product usage and inform product decision-making
                </li>
                <li>
                  Assumed technical oversight, for the mobile team, of a large scale, multi-team initiative to build out a "demo" version of the thinkorswim app
                </li>
                <li>
                  Researched, documented and proposed changes for incrementally refactoring the 15yr old, chaotically architected, code base
                </li>
                <li>
                  Created a developer experience survey for the mobile team and compiled/presented results/led action items discussion
                </li>
                <li>
                  Responsible for coordinating iOS app's "application security" adherence strategy
                </li>
                <li>
                  Led feature development and guided QA in testing a complex, 2FA "in app approval", feature for iOS app. This required coordinating with multiple development teams and product owners
                </li>
                <li>
                  Encouraged product to include adding more analytics requirements to features by going above
                  and beyond on an analytics request for enhancing an existing feature
                </li>
              </ul>
            </li>
            <li>
              <span class="role-title">Lead iOS Developer at Stitch Fix</span>
              <span class="timeframe">August 2020 - January 2023</span>
              <br>
              <div class="company-description">StitchFix is an online personalized styling retail service</div>
              <ul>
                <li>Led feature development on the "Freestyle" business line which allows direct
                  purchase of product based on machine learning styling recommendations</li>
                <li>Led a multi-iOS-team effort to build the concept of displaying strikethrough pricing on sale items</li>
                <li>Responsible for multiple iterative improvements to business vital checkout and return workflow</li>
                <li>Responsible for successful large refactors of mission critical workflows </li>
              </ul>
            </li>
            <li>
              <span class="role-title">Product Innovation/ Mobile Lead at Uplift Inc</span>
              <span class="timeframe">June 2019 - April 2020</span>
              <br>
              <div class="company-description">Uplift was a travel fintech company providing short term consumer loans</div>
              <ul>
                <li>Brought on to help create a product innovation team leading mobile efforts</li>
                <li>Led a small team of mobile devs creating prototype apps for further vetting</li>
                <li>Technically assisted team by learning AWS, writing Python, JS, Swift & Java</li>
              </ul>
            </li>
            <li>
              <span class="role-title">Lead iOS Developer/Architect at Pinn</span>
              <span class="timeframe">October 2018 - May 2019</span>
              <br>
              <div class="company-description">Pinn was a small startup providing biometric & PKI authentication frameworks for partner apps</div>
              <ul>
                <li>Lead iOS Developer, owned iOS architecture, product & design. Advised android</li>
                <li>Built company's prototype biometric identification framework</li>
              </ul>
            </li>
            <li>
              <span class="role-title">Lead iOS Developer at Under Armour</span>
              <span class="timeframe">March 2016 - Feb 2018</span>
              <br>
              <div class="company-description">UA's connected fitness division handled it's digital assets including MyFitnessPal & UA Run</div>
              <ul>
                <li>Architected and built iOS frameworks for UA apps</li>
                <li>Frameworks included: authentication/SSO, notifications, rollouts, data sync</li>
                <li>Worked with UA Run, MyFitnessPal, and UA Shop to facilitate integrations</li>
                <li>Deployed code to ~100 million users, needed to be bulletproof and quickly fixable</li>
              </ul>
            </li>
            <li>
              <span class="role-title">iOS Developer at TopTal</span>
              <span class="timeframe">October 2014 - September 2018</span>
              <br>
              <div class="company-description">Toptal is an exclusive network of the top 3% of software devs in the world</div>
              <ul>
                <li>Architected and spec-ed apps for implementation by third parties</li>
                <li>All contacts were remote in nature with clients in multiple countries</li>
                <li>Worked on poorly implemented legacy projects to bring them up to a proper architecture to allow new feature development</li>
              </ul>
            </li>
            <li>
              <span class="role-title">Cofounder & CEO of Wersda LLC</span>
              <span class="timeframe">October 2012 - March 2016</span>
              <br>
              <div class="company-description">Wersda was a very small, bootstrapped startup for location navigation software for grocery stores</div>
              <ul>
                <li>Architected, designed and built the API, website, iOS and Android apps</li>
                <li>Managed product requirements and design. Set expectations for team members</li>
                <li>Fought hard to keep the product on track and keep the Minimum Viable Product clean</li>
                <li>Performed user experience testing and rapid prototyping to iterate and test different UI/UX</li>
                <li>Wrote an "indoor navigation" engine with javascript for vector based rendering</li>
              </ul>
            </li>
            <li>
              <span class="role-title">Senior iOS Engineer at Imprivata</span>
              <span class="timeframe">June 2013 - June 2014</span>
              <br>
              <div class="company-description">Imprivata provides authentication & access management software for healthcare organizations</div>
              <ul>
                <li>Led efforts to modernize the codebase with more modern language features</li>
                <li>Helped mentor junior developers new to the industry</li>
                <li>Built pixel perfect implementations despite some technical challenges due to restrictions of the language</li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </section>

</div>