<div id="content-container">

<div id="header">
  <hr>
  <div id="name-wrapper">
    <h1 class="name-partial">Ryan</h1>
  <!--  <div class="image-wrapper">-->
      <img alt="profile image" class="profile-image" src="/images/ryan-lons-photo.jpg" />
  <!--  </div>-->
    <h1 class="name-partial">Lons</h1>
  </div>
  <hr>

</div>

  <h2>iOS & Web Developer with 14yrs industry experience</h2>
  <h3><span id="status">Current Status: </span>Open to new opportunities</h3>
  <br />

<!--  <div id="video-container">-->
<!--    <iframe width="720" height="405" src="https://www.youtube.com/embed/ig8AokqnYcg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--  </div>-->

  <div class="down-arrow">
    <img src="/images/down-arrow.png">
  </div>



<!--  <div style="height: 1000px; background-color: crimson"></div>-->
  <div id="skills">
    <br>
    <br>
    <h2>Professional Skillset</h2>
    <br>
    <ul id="programming-languages-skills">
      <li>Programming Languages</li>
      <li><div class="ranking">10</div>  <div class="skill">Objective-C</div>          <div class="years">10 years</div>  </li>
      <li><div class="ranking">7</div>  <div class="skill">Swift</div>                <div class="years">7 years</div>  </li>
      <li><div class="ranking">3</div>  <div class="skill">Swift UI</div>                <div class="years">3 years</div>  </li>
      <li><div class="ranking">11</div>  <div class="skill">CSS</div>                 <div class="years">11 years</div>  </li>
      <li><div class="ranking">11</div>  <div class="skill">HTML</div>                <div class="years">11 years</div>  </li>
      <li><div class="ranking">11</div>  <div class="skill">jQuery/javascript</div>   <div class="years">11 years</div>  </li>
      <li><div class="ranking">11</div>  <div class="skill">SQL/mySQL</div>            <div class="years">11 years</div>  </li>
      <li><div class="ranking">7</div>  <div class="skill">Ruby, Rails</div>        <div class="years">7 years</div>  </li>
      <li><div class="ranking">4</div>  <div class="skill">AJAX</div>                 <div class="years">4 years</div>  </li>
      <li><div class="ranking">4</div>  <div class="skill">C#</div>                   <div class="years">4 years</div>  </li>
      <li><div class="ranking">3</div>  <div class="skill">Java</div>                 <div class="years">3 years</div>  </li>
      <li><div class="ranking">1</div>  <div class="skill">Python</div>                 <div class="years">1 year</div>  </li>
    </ul>
    <ul id="tools-skills">
      <li>Tools</li>
      <li><div class="ranking">14</div> <div class="skill">Xcode</div>                <div class="years">14 years</div></li>
      <li><div class="ranking">7</div> <div class="skill">App Code</div>             <div class="years">7 years</div></li>
      <li><div class="ranking">6</div> <div class="skill">Rubymine</div>             <div class="years">6 years</div></li>
      <li><div class="ranking">14</div> <div class="skill">Adobe Photoshop</div>      <div class="years">14 years</div></li>
      <li><div class="ranking">10</div> <div class="skill">Git</div>                  <div class="years">10 years</div></li>
      <li><div class="ranking">9</div> <div class="skill">Final Cut Pro</div>        <div class="years">9 years</div></li>
      <li><div class="ranking">5</div> <div class="skill">Subversion</div>           <div class="years">5 years</div></li>
      <li><div class="ranking">4</div> <div class="skill">Adobe Illustrator</div>    <div class="years">4 years</div></li>
      <li><div class="ranking">3</div> <div class="skill">Visual studio</div>        <div class="years">3 years</div></li>
      <li><div class="ranking">2</div> <div class="skill">Intellij IDEA</div>        <div class="years">2 years</div></li>
      <li><div class="ranking">2</div> <div class="skill">AWS</div>                 <div class="years">2 years</div></li>
    </ul>
    <ul id="spoken-skills">
      <li>Spoken Languages</li>
      <li><div class="ranking">14-</div> <div class="skill">English</div>     <div class="years">Native speaker</div></li>
      <li><div class="ranking">8-</div>  <div class="skill">Spanish</div>     <div class="years">Conversational</div></li>
      <li><div class="ranking">4-</div>  <div class="skill">Japanese</div>    <div class="years">Rusty, was better</div></li>
      <li><div class="ranking">3-</div>  <div class="skill">French</div>      <div class="years">Street survivable</div></li>
      <li><div class="ranking">3-</div>  <div class="skill">Italian</div>     <div class="years">Street survivable</div></li>
    </ul>
    <ul id="competency-skills">
      <li>Areas of competency</li>
      <li><div class="ranking">14</div>  <div class="skill">iOS development</div><div class="years">14 years</div></li>
      <li><div class="ranking">12</div>  <div class="skill">Web development</div><div class="years">12 years</div></li>
      <li><div class="ranking">12</div>  <div class="skill">Software architecture</div><div class="years">12 years</div></li>
      <li><div class="ranking">12</div>  <div class="skill">User experience design</div><div class="years">12 years</div></li>
      <li><div class="ranking">6</div>  <div class="skill">Framework Development</div><div class="years">6 years</div></li>
      <li><div class="ranking">12</div>  <div class="skill">User interface design</div><div class="years">12 years</div></li>
      <li><div class="ranking">11</div>  <div class="skill">Unit testing</div><div class="years">11 years</div></li>
      <li><div class="ranking">10</div>  <div class="skill">REST APIs</div><div class="years">10 years</div></li>
      <li><div class="ranking">3</div>  <div class="skill">GraphQL</div><div class="years">3 years</div></li>
      <li><div class="ranking">2</div>  <div class="skill">Android development</div><div class="years">2 years</div></li>
    </ul>

    <ul id="personal-interests">
      <li>Personal Interests</li>

      <li class="left">Travel</li>
      <li class="right">Human behavioural studies</li>

      <li class="left">Photography</li>
      <li class="right">Health and nutrition</li>


      <li class="left">Functional weight lifting</li>
      <li class="right">Martial arts</li>

      <li class="left">Tropical beaches</li>
      <li class="right">Acrobatics</li>


      <li class="left">Parkour</li>
      <li class="right">Sailing</li>
    </ul>
    <br>
  </div>

  <div class="code-sample-repo">
    <br /><br /><br /><br /><br />
    <h2>Looking for a Code Sample? Lets make this easy:</h2>
    The repo is here: <a href="https://github.com/lonsrb/code-sample" target="_blank">Code Sample Repo on Github</a>
    <!--    <br />-->
    <!--    <br />-->
    <!--    And I've made a walkthrough for you here:-->
    <!--    <div id="video-container">-->
    <!--      <iframe width="720" height="405" src="https://www.youtube.com/embed/gM_UFwuK0Tw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    <!--    </div>-->
    <!--      <br />-->
  </div>

  <div class="contact-info">
    <h2>Contact Info</h2>
     Interested? Feel free to contact me at:
    <div style="margin-top: 8px" ></div>
    <a href="mailto:lonsrb@gmail.com">lonsrb@gmail.com</a>
    <div style="margin-top: 8px" ></div>
    <a href="https://www.linkedin.com/in/ryan-lons-701781a/">LinkedIn</a>
    <div style="margin-top: 8px" ></div>
    <a href="/images/Ryan-Lons-Resume.pdf" download>Download Resume</a>
  </div>

</div>
<!--<div class="test-class">-->
<!--  <h1>Hello <%#= @name %></h1>-->
<!--</div>-->