<div id="content-container">

<div class="title-container">
  <h1 class="name">Ryan Lons</h1>
  <h2 class="description">16yrs industry experience in iOS and web development</h2>
  <h3 class="summary">
   Engineering Leader | Staff iOS Developer | Product Delivery & People Leadership
<!--  Engineering Leader | Staff iOS Developer | EM-scope: Roadmap, Delivery, Mentorship-->
  </h3>
  <div class="contact-info">
    <div class="contact-item">
      <span><img src="/images/email-icon.svg"></span>
      <a href="mailto:lonsrb@gmail.com">lonsrb@gmail.com</a>
    </div>
    <div class="contact-item">
      <span><img src="/images/link-icon.svg"></span>
      <a href="https://www.linkedin.com/in/ryan-lons-701781a/">LinkedIn</a>
    </div>
    <div class="contact-item">
      <span><img src="/images/location-icon.svg"></span>
      <span> Remote</span>
      <br>
  <!--          <span id="hours">ET-PT hours (UTC -5/-8) preferred</span> -->
        <!--  <span id="hours">from Charleston, SC</span>-->
    </div>

    <div class="contact-item" id="download">
      <span><img src="/images/download-icon.svg"></span>
      <span><a href="/images/Ryan-Lons-Resume.pdf">Download Resume</a></span>

    </div>
  </div>
</div>
  <section class="row">
    <div class="left-column" id="skills">
      <!-- <img alt="profile image" class="profile-image" src="/images/ryan-lons-photo.jpg" /> -->

      <br>
      <ul class="top" id="competencies" style="margin-top: 0;">
        <li>
          <div class="left-column-header-title">COMPETENCIES</div>
          <div class="left-column-header-divider"></div>
        </li>
        <li>
          <div class="left-column-header-subtitle">Leadership & People: </div>
        </li>
        <li>
            <ul class="skills-sub-stack">
                <li>Mentorship & Coaching</li>
                <li>Cross-Functional Collaboration</li>
                <li>Developer experience</li>
                <li>Remote team collaboration</li>
                <li>Team Building & Hiring</li>
            </ul>
        </li>
        <li>
          <div class="left-column-header-subtitle">Engineering Strategy: </div>
        </li>
        <li>
            <ul class="skills-sub-stack">
                <li>Software architecture</li>
                <li>Technical project management</li>
                <li>Mobile application development</li>
                <li>Application security</li>
                <li>AI-Assisted Development</li>
            </ul>
        </li>

        <li>
          <div class="left-column-header-subtitle">Technical Proficiency: </div>
        </li>
        <li>
            <ul class="skills-sub-stack">
                <li>Mobile & web development</li>
                <li>Analytics analysis</li>
                <li>UI/UX design</li>
                <li>CI/CD</li>
            </ul>
        </li>
      </ul>
      <ul class="top" id="tech-skills">
        <li>
          <div class="left-column-header-title">TECHNICAL SKILLS</div>
          <div class="left-column-header-divider"></div>
        </li>
        <li>Swift, SwiftUI, Objective-C</li>
        <li>Ruby, Python</li>
        <li>Web Frontend Languages</li>
        <li>JIRA, Confluence, Git</li>
        <li>Automated testing</li>
        <li>
            Machine Learning / Data Science
            <br>
            <span class="skill-note">(taking courses)</span>
        </li>
        <li>
             AI / LLM's prompting
             <br>
                    <span class="skill-note">(scripting and prompting)</span>
        </li>
      </ul>

      <ul  class="top" id="education">
        <li>
          <div class="left-column-header-title">EDUCATION</div>
          <div class="left-column-header-divider"></div>
        </li>
        <li>High School Valedictorian</li>
        <li>BS Computer Science</li>
        <li>Minor in Mathematics</li>
        <li>Wake Forest University, May 07</li>
        <li>Dean's List & Honor Society</li>
      </ul>

      <ul class="top" id="languages">
        <li>
          <div class="left-column-header-title">SPOKEN LANGUAGES</div>
          <div class="left-column-header-divider"></div>
        </li>
        <li><div class="skill">English</div><div class="years">Native speaker</div></li>
        <li><div class="skill">Spanish</div><div class="years">Conversational</div></li>
        <li><div class="skill">Japanese</div><div class="years">Rusty, was better</div></li>
        <li><div class="skill">French</div><div class="years">Street survivable</div></li>
        <li><div class="skill">Italian</div><div class="years">Street survivable</div></li>
      </ul>

      <ul class="top" id="personal-interests">
        <li>
          <div class="left-column-header-title">PERSONAL INTERESTS</div>
          <div class="left-column-header-divider"></div>
        </li>
        <li>Father of 3</li>
        <li>Hiking & Freediving</li>
        <li>Health & Nutrition</li>
        <li>Recreational sailboat captain</li>
        <li>Fixing said sailboat</li>
        <li>Photography & Videography</li>
        <li>Martial Arts, Acrobatics, Parkour</li>
      </ul>
<!--      <ul id="">-->
<!--        <li>-->
<!--          <div class="left-column-header-title">test test</div>-->
<!--          <div class="left-column-header-divider"></div>-->
<!--        </li>-->
<!--      </ul>-->
    </div>
    <div class="main-body-column" >
    
      <div class="previous-roles">
        <h2 id="experience-title">Experience</h2><span id="recent-label">( recent listed )</span>
          <ul class="previous-roles-list">
            <li>
              <span class="role-title">Mobile Technical Lead at Charles Schwab</span>
              <span class="timeframe">February 2023 - Present</span>

              <div class="company-description">Charles Schwab offers investment products and services, eg: brokerage and retirement accounts, online trading</div>
              <h3 class="role-sub-title">
                Leadership & People Management:
              </h3>
              <ul>
                <li>
                  Partners with Product & Design on roadmap and requirements, defines scope, acceptance criteria, and milestones.
                </li>
                <li>
                  Leads iOS technical direction guiding development standards and documenting/educating best practices
                </li>
                <li>
                  Mentors junior/mid-level engineers. Drives Developer Experience standards. Runs sprint rituals.
                </li>
                <li>
                 Strengthens reliability via observability: crash analytics, logging/metrics, alerts, and incident response.
                </li>
                <li>
                 Coordinates cross-team dependencies (API contracts, sequencing, handoffs) prioritizing deliverables and unblocking iOS/Android teams to meet release dates.
                </li>


              </ul>
              <h3 class="role-sub-title">
                Strategic & Business Impact:
              </h3>
              <ul>
                <li>
                    Drove architectural improvements in a 15-year-old legacy codebase, leading refactoring and documentation efforts across.
                </li>
                 <li>
                    Championed data-driven decision-making, re-establishing analytics pipelines to guide product improvements.
                </li>
                 <li>
                    Led multi-team efforts across Engineering, Design, Product, and QA to improve cross-functional delivery and coordination.
                </li>
                <li>
                    Responsible for coordinating iOS app's "application security" adherence strategy.
                </li>
              </ul>
            </li>
            <li>
              <span class="role-title">Lead iOS Developer at Stitch Fix</span>
              <span class="timeframe">August 2020 - January 2023</span>
              <br>
              <div class="company-description">StitchFix is an online personalized styling retail service</div>
              <h3 class="role-sub-title">
                  Leadership & People Management:
              </h3>
              <ul>
                <li>
                    Managed cross-team initiatives, such as implementing strikethrough pricing throughout the iOS application.
                </li>
                <li>
                    Contributed to hiring efforts, screening candidates and participating in hiring decisions for iOS engineers.
                </li>

              </ul>

              <h3 class="role-sub-title">
                  Process & Engineering Improvements:
              </h3>
              <ul>
                <li>
                    Owned checkout and return workflow improvements, enhancing user experience and reducing errors.
                </li>
                <li>
                    Led multiple large-scale refactors of mission-critical workflows, improving performance and maintainability.
                </li>
              </ul>
            </li>
            <li>
              <span class="role-title">Product Innovation/ Mobile Lead at Uplift Inc</span>
              <span class="timeframe">June 2019 - April 2020</span>
              <br>
              <div class="company-description">Uplift was a travel fintech company providing short term consumer loans</div>
              <ul>
                <li>Brought on to help create a product innovation team leading mobile efforts</li>
                <li>Led a small team of mobile devs creating prototype apps for further vetting</li>
                <li>Technically assisted team by learning AWS, writing Python, JS, Swift & Java</li>
              </ul>
            </li>
            <li>
              <span class="role-title">Lead iOS Developer/Architect at Pinn</span>
              <span class="timeframe">October 2018 - May 2019</span>
              <br>
              <div class="company-description">Pinn was a small startup providing biometric & PKI authentication frameworks for partner apps</div>
              <ul>
                <li>Lead iOS Developer, owned iOS architecture, product & design. Advised android</li>
                <li>Built company's prototype biometric identification framework</li>
              </ul>
            </li>
            <li>
              <span class="role-title">Lead iOS Developer at Under Armour</span>
              <span class="timeframe">March 2016 - Feb 2018</span>
              <br>
              <div class="company-description">UA's connected fitness division handled it's digital assets including MyFitnessPal & UA Run</div>
              <ul>
                <li>Architected and built iOS frameworks for UA apps</li>
                <li>Frameworks included: authentication/SSO, notifications, rollouts, data sync</li>
                <li>Worked with UA Run, MyFitnessPal, and UA Shop to facilitate integrations</li>
                <li>Deployed code to ~100 million users, needed to be bulletproof and quickly fixable</li>
              </ul>
            </li>
            <li>
              <span class="role-title">iOS Developer at TopTal</span>
              <span class="timeframe">October 2014 - September 2018</span>
              <br>
              <div class="company-description">Toptal is an exclusive network of the top 3% of software devs in the world</div>
              <ul>
                <li>Architected and spec-ed apps for implementation by third parties</li>
                <li>All contacts were remote in nature with clients in multiple countries</li>
                <li>Worked on legacy projects to bring them up to a proper architecture to allow new feature development</li>
              </ul>
            </li>
            <li>
              <span class="role-title">Cofounder & CEO of Wersda LLC</span>
              <span class="timeframe">October 2012 - March 2016</span>
              <br>
              <div class="company-description">Wersda was a very small, bootstrapped startup for location navigation software for grocery stores</div>
              <ul>
                <li>Architected, designed and built the API, website, iOS and Android apps</li>
                <li>Managed product requirements and design. Set expectations for team members</li>
                <li>Fought hard to keep the product on track and keep the Minimum Viable Product clean</li>
                <li>Performed user experience testing and rapid prototyping to iterate and test different UI/UX</li>
                <li>Wrote an "indoor navigation" engine with javascript for vector based rendering</li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </section>

</div>