body {
    color: #ffffff;
    background-color: #626464;;
    /*background-image: url("/images/bg1.jpg");*/
    margin: 0; padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#fullpage-wrapper {
    background-size: cover;
    font-family: "Helvetica Neue", serif;
    background-position: center;
    transition: background 0.5s linear;

    min-width: 100%;
    min-height: 100%;
    /*top: 0px;*/
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 1px 0;

    -webkit-transition: background 2.5s linear;
    -moz-transition: background 2.5s linear;
    -o-transition: background 2.5s linear;
    -ms-transition: background 2.5s linear;
    transition: background 2a.5s linear;
}

h2 {
    text-align: center;
    font-size: 30px ;
    font-weight: normal;
    letter-spacing: 1px;

}

h3 {
    text-align: center;
    font-size: 20px ;
}

#content-container {
position: relative;
    /*top: 20px;*/
    /*height: 100%;*/
    height:100vh;

    background-color: rgba(71, 71, 71, 0.73);
    margin: 20px;
    padding: 20px;
}

.name-partial {

    font-size: larger;
    color: white;
    padding: 0 25px;
    letter-spacing: 15px;
    display: inline-block;
}



#header {
    width: 100%;
    text-align: center;
    vertical-align: center;
    /*padding: 15px 0;*/

    font-size: 50px;
    font-weight: bold;
    height: 230px;
    margin: 0 0 100px;
    /*bottom: -50px;*/

    /*border: solid 4px #ffffff;*/
    /*border-left: none;*/
    /*border-right: none;*/

}

#status {
    font-style: italic;
    font-weight: normal;
    color: #aff6ff;
}

#header hr {
    border: solid 4px #ffffff;
    border-radius: 9px;
    margin: 10px 10px;
}

#name-wrapper {
    padding: 15px 0
}

.profile-image {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    border: #ffffff 14px solid;
    width: 200px;
    height: 200px;
    overflow: hidden;
    /*border-radius: 100px;*/
}

#video-container {
    margin: auto;
    margin-top: 20px;
    width: 720px;
    height: 405px;
    border: solid 10px #ffffff;
}

.down-arrow {
    font-size: 50px;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.down-arrow img {
    width: 70px;
    height: 70px;
}

.code-sample-repo {
    font-size: 20px;
    /*background-color: #6f3bd0;*/
    width: 900px;
    margin: 0 auto;
    position: relative;
    /*min-height: 100px;*/
    border-bottom: solid 4px #ffffff;
    text-align: center;
    overflow: hidden;
}

.code-sample-repo a {
    text-decoration: none;
    font-size: 25px;
    color: #aff6ff;
}

#skills {

    /*background-color: #6f3bd0;*/
    width: 900px;
    margin: 0 auto;
    position: relative;
    min-height: 400px;
    border-bottom: solid 4px #ffffff;
    text-align: center;
    overflow: hidden;
}

#skills h2, h3 { padding: 0; margin: 0;}
#skills h3 {font-weight: normal; font-size: 25px;}

#skills ul {
    padding: 0 0 0 70px;
    width: 800px;
    font-size: 20px;
    text-align: left;
    margin: 0 auto 20px;
    font-weight: normal;
    list-style-type: none;
}

#skills ul li:first-child { font-weight: bold;}

#skills ul li {
    padding-top: 7px;
    padding-bottom: 5px;
}

.skill { display: inline-block; padding-left: 11px;}

.years
{
    color: #dddddd;
    font-size: 16px;
    padding-left: 10px;
    font-weight: normal;
    display: inline-block;
}
.ranking {
    height: 20px;
    width: 400px;
    text-align: right;
    position: relative;
    border-radius: 11px;
    display: inline-block;
    background-color: rgba(184, 184, 184, 0.78);
}

.ranking-bar
{
    top: -2px;
    height: 17px;
    font-size: 14px;
    color: #ffffff;
    padding-top: 3px;
    position: relative;
    padding-right: 10px;
    border-radius: 11px;
    display: inline-block;
    border: solid 1px #ffffff;
    background-color: #459b91;
}
li:hover { background-color: rgba(86, 86, 86, 0.66);}

#programming-languages-skills .skill { width: 170px;}
#tools-skills                 .skill { width: 170px;}
#spoken-skills                .skill { width: 170px;}
#competency-skills            .skill { width: 250px;}

#personal-interests li { width: 375px;}
#personal-interests li.left  { width: 385px; display: inline-block; text-align: right;}
#personal-interests li.right { display: inline-block; padding-left: 23px;}


.contact-info {
    text-align: center;
    width: 500px;
    font-size: 20px;
    margin: 0 auto;
}

.contact-info a {
    text-decoration: none;
    font-size: 25px;
    color: #aff6ff;
}